
hw_01/.DS_Store
hw_01/.idea/workspace.xml
hw_01/.idea/vcs.xml
hw_01/.idea/modules.xml
hw_01/.idea/misc.xml
hw_01/.idea/libraries/R_User_Library.xml
hw_01/.idea/hw_01.iml
hw_01/.idea/encodings.xml
.DS_Store
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/gb_python01.iml
.idea/encodings.xml
.DS_Store
.DS_Store
.DS_Store
.DS_Store
